.authors__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.author{
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}
.author:hover{
    transform: scale(0.96);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}
.author__avatar{
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}
.author__info p{
    margin-top: 1rem;
    font-weight: 700;
}
.author__info h4{
    font-size: 14px;
}
@media screen and (max-width:800px){
    .authors__container{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}